# SPDX-License-Identifier: MIT
openapi: 3.0.3

info:
  title: DCN Account Service
  version: 0.4.0
  description: Account listing and ownership exploration (cursor-based).
  license:
    name: MIT
    url: https://opensource.org/license/mit

servers:
  - url: https://api.decentralised.art/chain

security: []

tags:
  - name: account
    description: |
      Operations related to account.

paths:
  /accounts:
    options:
      tags: [account]
      operationId: OPTIONS_accounts
      summary: CORS preflight
      description: CORS preflight

      responses:
        "204":
          description: No content

    head:
      tags: [account]
      operationId: HEAD_accounts
      summary: Check account list query
      description: Returns 200 when the account list query is valid.

      parameters:
        - name: limit
          in: query
          required: true
          schema: { type: integer, minimum: 1, maximum: 256 }
          description: Page size.

        - name: after
          in: query
          required: false
          schema:
            type: string
            pattern: "^(0x)?[a-fA-F0-9]{40}$"
          description: Account cursor from a previous response `cursor.next_after`.

      responses:
        "200":
          description: Query is valid.

        "400":
          description: Invalid query.

    get:
      tags: [account]
      operationId: GET_accounts
      summary: List accounts
      description: List chain accounts known to the registry.

      parameters:
        - name: limit
          in: query
          required: true
          schema: { type: integer, minimum: 1, maximum: 256 }
          description: Page size.

        - name: after
          in: query
          required: false
          schema:
            type: string
            pattern: "^(0x)?[a-fA-F0-9]{40}$"
          description: Account cursor from a previous response `cursor.next_after`.

      responses:
        "200":
          description: Account page
          content:
            application/json:
              schema: { $ref: schemas/accountListResponse.yaml }

        "400":
          description: Invalid query
          content:
            application/json:
              schema: { $ref: ../../shared/schemas/error.yaml }

  /account/{address}:
    parameters:
      - name: address
        in: path
        required: true
        schema: { $ref: ../../shared/schemas/address.yaml }
        description: <TODO>

    options:
      tags: [account]
      operationId: OPTIONS_account
      summary: CORS preflight
      description: CORS preflight

      responses:
        "204":
          description: No content

    get:
      tags: [account]
      operationId: GET_account
      summary: Get account
      description: Get owned connectors/transformations/conditions for an address.

      parameters:
        - name: limit
          in: query
          required: true
          schema: { type: integer, minimum: 1, maximum: 256 }
          description: Page size for each ownership list.

        - name: after_connectors
          in: query
          required: false
          schema: { type: string }
          description: Cursor for owned connectors.

        - name: after_transformations
          in: query
          required: false
          schema: { type: string }
          description: Cursor for owned transformations.

        - name: after_conditions
          in: query
          required: false
          schema: { type: string }
          description: Cursor for owned conditions.

      responses:
        "200":
          description: Account info
          content:
            application/json:
              schema: { $ref: schemas/accountInfoResponse.yaml }

        "400":
          description: Invalid address, limit, or cursor
          content:
            application/json:
              schema: { $ref: ../../shared/schemas/error.yaml }
