# SPDX-License-Identifier: MIT
openapi: 3.0.3

info:
  title: DCN Runner Service
  version: 0.4.0
  description: Connector execution endpoints, on chain and in the local simulation EVM.
  license:
    name: MIT
    url: https://opensource.org/license/mit

servers:
  - url: https://api.decentralised.art/chain

security: []

tags:
  - name: runner
    description: |
      Operations related to connector execution.

paths:
  /execute:
    options:
      tags: [runner]
      operationId: OPTIONS_execute
      summary: CORS preflight
      description: CORS preflight

      responses:
        "204":
          description: No content

    post:
      tags: [runner]
      operationId: POST_execute
      summary: Execute on chain
      description: >
        eth_call of Runner.gen on the configured runner, pinned to the block the
        server's execute block tag resolves to. The chain decides whether the
        connector exists; the server's own registry is not consulted. No login
        is required: an eth_call sends no transaction and costs no gas.

      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "schemas/executeRequest.yaml" }

      responses:
        "200":
          description: Executed
          content:
            application/json:
              schema: { $ref: "schemas/executeResponse.yaml" }

        "400":
          description: Bad request, or execution rejected by the runner.
          content:
            application/json:
              schema: { $ref: ../../shared/schemas/error.yaml }

        "404":
          description: Connector not found in the runner's registry.
          content:
            application/json:
              schema: { $ref: ../../shared/schemas/error.yaml }

        "500":
          description: Response decoding error.
          content:
            application/json:
              schema: { $ref: ../../shared/schemas/error.yaml }

        "502":
          description: Chain returned a malformed result.
          content:
            application/json:
              schema: { $ref: ../../shared/schemas/error.yaml }

        "503":
          description: On-chain execution is not configured, or the chain endpoint is unavailable.
          content:
            application/json:
              schema: { $ref: ../../shared/schemas/error.yaml }

  /simulate:
    options:
      tags: [runner]
      operationId: OPTIONS_simulate
      summary: CORS preflight
      description: CORS preflight

      responses:
        "204":
          description: No content

    post:
      tags: [runner]
      operationId: POST_simulate
      summary: Simulate locally
      description: >
        Execute a connector held by this server in its local simulation EVM.
        Covers entities created through the create endpoints before they are
        published on chain. No login is required.

      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "schemas/executeRequest.yaml" }

      responses:
        "200":
          description: Executed
          content:
            application/json:
              schema:
                title: SimulateResponse
                type: array
                description: Execution result list.
                items:
                  $ref: "schemas/particlesResultItem.yaml"

        "400":
          description: Bad request, or execution rejected by the runner.
          content:
            application/json:
              schema: { $ref: ../../shared/schemas/error.yaml }

        "404":
          description: Connector not found locally.
          content:
            application/json:
              schema: { $ref: ../../shared/schemas/error.yaml }

        "500":
          description: Internal deployment, execution or response decoding error.
          content:
            application/json:
              schema: { $ref: ../../shared/schemas/error.yaml }
